.dml-button {
  background-color: black;
  border-color: black;
  border-radius: 2em;
  margin: 1.5em;
  padding: 1em;
  text-transform: uppercase;
  width: 10em;

  > a {
    color: yellow;

    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    background-color: yellow;
    border-color: yellow;

    > a {
      color: black;
    }
  }
}
