@import '_helpers/variables';
@import '_helpers/mixins';

nav {
  align-items: center;
  display: flex;
  flex-direction: column;

  &.navbar-default {
    background-color: $white;
    border-color: $white;
  }

  @include breakpoint(small) {
    flex-flow: row nowrap;
    justify-content: space-around;

    &.navbar {
      margin: 0;
    }

    .navbar-toggle {
      margin-left: auto;
      margin-right: 0;
    }
  }
}
